<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="frmMyfirst.My.MySettings.myDB" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=NorthWind;User ID=bigfat;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>